*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(207, 207, 207);
}
nav{
    background-color: grey;
    /* padding: 8px; */
}
ul {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.items{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: 300;
    /* border-radius: 10px; */
    text-decoration: none;
    list-style: none;
    background-color: rgb(58, 58, 58);
    padding: 1vw 1vw;
    margin: 8px 0 8px 10px;
    border: 2px solid rgb(58, 58, 58);
    /* border-radius: 10px; */
    
}
.items:hover{
    border: 2px solid white;
}
.heading{
    margin: 10px 0;
    color: black;
    font-size: 50px;
    font-family: Permanent Marker;
}
.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_recipes{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    /* padding: 9px; */
    opacity: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.recipes{
    border-radius: 10px;
    padding: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 47vh; */
}
.recipe_container{
    width: 97vw;
    grid-gap: 7px 7px;
    display: grid;
    grid-template-columns: auto auto;
}
a{
    text-decoration: none;
}
.text_recipes{
    color: black;
}
.text_recipes:hover {
    color: white;
    background-color: black;
}
@media only screen and (max-width:600px){
    .recipe_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* flex-wrap: wrap; */
    }
}
.biryani{
    background-image: url("images/biryani.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fried_rice{
    background-image: url("images/Fried_Rice.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pulao{
    background-image: url("images/Pulao.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.idli_dosa{
    background-image: url("images/Idli_Dosa.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}